/* CSS style*/

.tcs-bold {
	font-weight: bold;
}

.tcs-fa-green {
	color: green;
	text-shadow: 3px 3px 1px #cccccc;
	font-size: 1.1em;
}

.tcs-panel {
	margin-bottom: 4px;
	padding: 5px 10px;
	border-radius: 7px;
}

.tcs-border {
	border: 1px solid #cccccc;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
