<fieldset>
	<legend>{{ lang('ACP_TCS_CAT') }}</legend>

	<dl>
		<dt><label for="forum_topic_priority_y">{{ lang('ACP_FORUM_TOPIC_PRIORITY') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_FORUM_TOPIC_PRIORITY_DESC') }}</span></dt>
		<dd>
			<label><input type="radio" class="radio" id="forum_topic_priority_y" name="forum_topic_priority" value="1"{% if S_FORUM_TOPIC_PRIORITY %} checked="checked"{% endif %} /> {{ lang('ENABLED') }}</label>
			<label><input type="radio" class="radio" id="forum_topic_priority_n" name="forum_topic_priority" value="0"{% if not S_FORUM_TOPIC_PRIORITY %} checked="checked"{% endif %} /> {{ lang('DISABLED') }}</label>
		</dd>
	</dl>
</fieldset>
